.App {
  text-align: center;
}

.board-button {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  margin: 1px;
  background: #bbb;
}
.board-button:focus {
  outline: none;
}
.board-button:hover {
  border: 5px solid;
}
.game-over {
  text-transform: uppercase;
}
